
.popup{
    position: fixed;
    inset: 0;
    background-color: rgba(29, 41, 9, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.35s;
}

.popup img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}

.popBtn{
    background-color: rgb(235, 9, 47);
    color: black;
    border-radius: 5px;
}

.show{
    transform: scale(1);
}

.crossBtn{
    position: absolute;
    top: 70px;
    right: 32%;
    border-radius: 5px;
    background-color: rgb(235, 9, 47);
    color: white;
}